*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial,sans-serif;
}

body{
    background:linear-gradient(145deg,darkblue,rgb(44, 43, 43),#000000);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    animation: fadeIn 0.8s ease-in-out;
}
.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: cyan;
}

@media(max-width:995px){
    nav{
        position:absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-right: 3px solid rgba(154, 154, 158, 0.421);
        border-bottom: 3px solid rgba(5, 5, 140, 0.548);
        border-bottom-right-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
}

/*Navbar*/
nav{
    display:flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    transition: 0.3s;
}

nav a:hover{
    color:#00bfff;
}

/*Ligne animée sous menu*/
nav a::after{
    content: '''';
    position:absolute;
    width: 0%;
    height: 2px;
    background: #00bfff;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav a:hover::after{
    width: 100%;
}

/*Contenu centré*/
.main-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

h1{
    font-size: 70px;
    color: #1587bc;
    margin-bottom: 30px;
}

p,li{
    font-size: 26px;
    line-height: 1.8;
}

span{
    font-size: 35px;
    color: #328bac;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

/*Animation page*/
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(25px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
@media (max-width:1000px){
    .home{
        gap:4rem;
    }
 }

 @media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vh;
        margin-top: 4rem;
    }
 }

 @media screen and (max-width: 768px){

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        position: static;
        text-align: center;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    nav ul li{
        list-style: none;
    }
    nav ul li a{
        font-size: 18px;
    }
    
 }

 .main-content ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
 }

 .main-content ul li a:hover {
    color: #66b2ff;
    text-decoration: underline;
 }