body {
    background-image:url(IMG_20260208_211739.jpg); 
    background-repeat:no-repeat;
    background-position: 500PX;100PX ;
    background-attachment:fixed;
}

h3{
    font-weight:bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70PX;
    height: 40PX;
    text-align: center;
    text-shadow: 6PX 6PX 8PX #c78539
}
.div1{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-weight:300;
    font-size: 20PX;

}

P{
    font-weight: 600;
    font-style: italic;
    font-size: 30PX;
}

.div2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana; sans-serif;
     text-shadow:2PX 0PX 2PX rgb(167, 138, 43);
     font-weight: 300;
}


.div3{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-shadow:2PX 0PX 2PX rgb(167, 138, 43);
 font-weight: 300;
}

