body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background: url(image/back6.jpg);
    background-size: cover;
}
.salade{
    text-align: center;
    padding: 50%s;
}

img:hover{
    opacity: 0.7;
}

h4{
    text-align: center;
}
h1{
    font-family: "lobster",cursive;
    text-align:center;
    background-image: url(image/baner4.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 150PX;
    color:rgb(22, 235, 50);
    text-shadow:6px 6px 3px #aebbd1;
}

p{
    background-color: #b0b0b0;
    background:linear-gradient( to right,
    #076585,#fff);
    text-align: center;
    margin: auto;
    padding:2%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 15px rgb(29,49,63);
    width: 70%;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    background: url(image/baner1.jpg);
    background-size:cover;
    max-width: 900px;
    text-align: center;
    max-height: 2000px;
    margin: left;
    padding: 0px;
    
}

.box1{
    border: 2px solid black;
}
   
.box2{
     border: 2px solid black;
}
.box3{
     border: 2px solid black;
}
.box4{
     border: 2px solid black;
}
.box5{
     border: 2px solid black;
}
.box6{
     border: 2px solid black;
}
.box7{
     border: 2px solid black;
}
.box8{
     border: 2px solid black;
}
.box9{
     border: 2px solid black;
}
.box10{
     border: 2px solid black;
}
.box11{
    border: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 6;
}

.preparation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    
  
