
h1{
    color: rgba(126, 22, 22, 0.699);
text-align: center;
text-shadow: 2px 2px 2px rgba(255, 30, 0, 0.74);
font-size: 55px;
border-width: 75%;
border-style: double;
border-color: red;
padding: 0%;
margin: 25%;
box-shadow: 70px;
border-left: 30px;
border-right: 30px;;
box-shadow: 4px 5px 9px black;

}
h2{

    color: rgba(0, 255, 34, 0.74);
    text-decoration: underline;
    font-style:inherit;
    text-align: center;
    font-size: 40px;

}

          
          
h3{
    color: rgba(0, 255, 34, 0.74);
    
     text-decoration: underline;
     oblique{
        font-style: inherit;
        }
        text-align: center;
        font-size: 40px;
       } 
p{
    color: rgba(255, 235, 205, 0.829);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    line-height: 30px;
    word-spacing: 10%;
 font-size: 20px;
 text-indent: 5%;

}
       body{
        background-image:url(gluten.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        list-style: inside;
        lighting-color: aqua;
         
       }
       h4{
        color: brown;
        text-align: left;
        text-decoration:white;
        font-size: 40px;
       }
     li{
        text-align: center;
        color: rgba(240, 255, 255, 0.795);
        list-style: inside;
        font-size: 30px;

    }

            h5{
                text-align: center;
                font-size: 50px;
                text-shadow: 2px 2px 2px orangered;
            }
            img{
            size: 20px;
            image-resolution:  19px;
            image-orientation: flip;
            border-image-width: 10px;
            }
            video{
                display: flex;
                justify-content: center;
                align-items: center;
            }
